name: CI

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  test-golox:
    name: Test golox
    runs-on: ubuntu-latest
    steps:
      - name: Checkout commit
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Test
        run: make test_golox

  test-loxfmt:
    name: Test loxfmt
    runs-on: ubuntu-latest
    steps:
      - name: Checkout commit
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Test
        run: make test_loxfmt

  test-tree-sitter-lox:
    name: Test tree-sitter-lox
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: tree-sitter-lox
    steps:
      - name: Checkout commit
        uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: latest
          cache: npm
          cache-dependency-path: tree-sitter-lox/package-lock.json
      - name: Install dependencies
        run: npm ci
      - name: Test
        run: npm test

  golangci-lint:
    name: Lint Go
    runs-on: ubuntu-latest
    steps:
      - name: Checkout commit
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: latest
